@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Web API Help Page</h1>
    <div class="panel panel-default">
        <div class="panel-body">Below are API requests and some examples in json.</div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            NOTE: Before running the application, run 'Update-Database' in Package Console to create the database.
            If you receive 'Cannot attach the file' error, simply rename the 'Initial Catalog' and 'AttachDbFilename' parameters
            in the connection string in \ExcerciseASP\Web.config and try again. 
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th class="text-center" colspan="2">-Adresses-</th>
            </tr>
        </thead>
        <tr>
            <th>Command</th>
            <th>Example</th>
        </tr>
        <tr>
            <td>GetAll</td>
            <td>api/Addresses</td>
        </tr>
        <tr>
            <td>Get</td>
            <td>
                api/Addresses/{customerId}/AddressType/{addressTypeId} <br />
                api/Addresses/cust1/AddressType/I
            </td>
        </tr>
        <tr>
            <td>Post</td>
            <td>
                api/Addresses<br />
                {<br />
                "customerId": "Cust1",<br />
                "name": "John Smith",<br />
                "addressTypeId": "S",<br />
                "countryCode": "AE"<br />
                }
            </td>
        </tr>
        <tr>
            <td>Put</td>
            <td>
                api/Addresses<br />
                {<br />
                "customerId": "Cust1",<br />
                "name": "John Smith",<br />
                "addressTypeId": "S",<br />
                "street": "New Street"
                }
            </td>
        </tr>
        <tr>
            <td>Delete</td>
            <td>
                api/Addresses/{customerId}/AddressType/{addressTypeId}<br />
                api/Addresses/cust1/S
            </td>
        </tr>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th class="text-center" colspan="2">-Customers-</th>
            </tr>
        </thead>
        <tr>
            <th>Command</th>
            <th>Example</th>
        </tr>
        <tr>
            <td>GetAll</td>
            <td>api/Customers</td>
        </tr>
        <tr>
            <td>Get</td>
            <td>
                api/Customers/{customerId}/Name/{name}<br />
                api/Customers/cust1/Name/John Smith
            </td>
        </tr>
        <tr>
            <td>Post</td>
            <td>
                api/Customers<br />
                {<br />
                "customerId": "Cust4",<br />
                "name": "John New",<br />
                }
            </td>
        </tr>
        <tr>
            <td>Delete</td>
            <td>
                api/Customers/{customerId}/Name/{name}<br />
                api/Customers/cust4/Name/John New
            </td>
        </tr>
    </table>
</div>
