@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Web API Help Page</h1>
    <!--
    <a href="https://drive.google.com/open?id=1Vrx7MsI4P308hxJUiA12lDnFVxzTyVN1">Click here to view the list of requests, their schemas and examples</a>
    -->
    <p></p>
    <div class="panel panel-default">
        <div class="panel-body">Below are API requests and some examples in json.</div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th class="text-center" colspan="2">-Adresses-</th>
            </tr>
        </thead>
        <tr>
            <th>Command</th>
            <th>Example</th>
        </tr>
        <tr>
            <td>GetAll</td>
            <td>api/Addresses</td>
        </tr>
        <tr>
            <td>Get</td>
            <td>
                api/Addresses/{customerId}/AddressType/{addressTypeId} <br />
                api/Addresses/cust1/AddressType/I
            </td>
        </tr>
        <tr>
            <td>Post</td>
            <td>
                api/Addresses<br />
                {<br />
                "customerId": "Cust1",<br />
                "name": "John Smith",<br />
                "addressTypeId": "S",<br />
                "countryCode": "AE"<br />
                }
            </td>
        </tr>
        <tr>
            <td>Put</td>
            <td>
                api/Addresses<br />
                {<br />
                "customerId": "Cust1",<br />
                "name": "John Smith",<br />
                "addressTypeId": "S",<br />
                "street": "New Street"
                }
            </td>
        </tr>
        <tr>
            <td>Delete</td>
            <td>
                api/Addresses/{customerId}/AddressType/{addressTypeId}<br />
                api/Addresses/cust1/S
            </td>
        </tr>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th class="text-center" colspan="2">-Customers-</th>
            </tr>
        </thead>
        <tr>
            <th>Command</th>
            <th>Example</th>
        </tr>
        <tr>
            <td>GetAll</td>
            <td>api/Customers</td>
        </tr>
        <tr>
            <td>Get</td>
            <td>
                api/Customers/{customerId}/Name/{name}<br />
                api/Customers/cust1/Name/John Smith
            </td>
        </tr>
        <tr>
            <td>Post</td>
            <td>
                api/Customers<br />
                {<br />
                "customerId": "Cust4",<br />
                "name": "John New",<br />
                }
            </td>
        </tr>
        <tr>
            <td>Delete</td>
            <td>
                api/Customers/{customerId}/Name/{name}<br />
                api/Customers/cust4/Name/John New
            </td>
        </tr>
    </table>
</div>
